<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <title>粉糖 - 聊天室</title>
    <meta name="keywords" content="粉糖 聊天室 pinkcandy chat">
    <meta name="description" content="周周编写的聊天室网站">
    <link rel="stylesheet" href="/assets/css/chat.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</head>
<body>
    <div class="container p-3 text-center">
        <h1>粉糖聊天室</h1>
        <h2 id="ready"></h2>
        <p>
            这是粉糖聊天室的HTTP服务器主页
        </p>
    </div>
</body>
<script>
    if(typeof $!='undefined' && typeof $!='null'){
        $('#ready').text('加载完成');
    }
    else{
        document.getElementById('ready').innerText='加载不正确';
    }
</script>
</html>
