body {
    font-family: sans-serif,monospace;
    font-size: 1em;
    font-style: normal;
    color: slategray;
    background-color: whitesmoke;
}
a {
    color: skyblue;
    text-decoration: none;
    font-weight: bolder;
}
